.bghead {
    padding-top: 0%;
    padding-bottom: 100px;
    
}

ul {
    list-style-type: none;
    margin-left: 740px;
}

li a {
    text-decoration: none;
    float: left;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 30px;
}

#head1 {
    font-size: 70px;
    /* margin-top: 200px; */
}

#head2 {
    font-size: 40px;
}

.head {
    color: white;
    text-align: center;
}

.search1 {
    size: 200px;
    text-align: center;
}


.imagecollection1 a img{
    float: left;
    border-radius: 10px;
    margin-top: 40px;
    padding-left: 90px;
}
.imagecollection1 a h2{
    color: yellow;
    text-decoration: none;
    /* padding-top: 10px; */
    padding-left: 90px;

}
.imagecollection1 a p{
    color: gra;
    text-decoration: none;
    padding-left: 90px;
}